<app-header title="Inicio"></app-header>

<ion-content [fullscreen]="true">

  <div class="title-app" style="display: flex; align-items: center; justify-content: center;">
    <h1 style="text-shadow: 1px;">Productos</h1>
  </div>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="routerLink()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="goToProfile()">
      <ion-icon name="person-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item-sliding class="product-item" *ngFor="let p of products">
      <ion-item>
        <ion-avatar>
          <img [src]="p.image" />
        </ion-avatar>
        <ion-label style="margin-left: 20px; text-transform: capitalize;">
          <div class="name" >{{p.name}}</div>
          <div class="data">
            <strong>Precio:</strong>{{p.price | currency:'CLP'}}
          </div>
        </ion-label>
      </ion-item>
      <ion-item-options> 
        
        <ion-item-option color="primary" (click)="goToDetail(p)">
          <ion-icon name="eye-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteProdcut(p)">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  
</ion-content>
